<article class="container">
  <header>
    <h1>{{ currentUser.role | uppercase }} Panel</h1>
    <button (click)="logoutUser()">Logout</button>
  </header>
  <div class="profileContainer">
    <h3>Profile</h3>
    @if(currentUser) {
    <div>Full Name :- {{ currentUser.fullname }}</div>
    <div>Email :- {{ currentUser.email }}</div>
    <div>Role :- {{ currentUser.role }}</div>
    }
  </div>

  <div class="scheduleContainer">
    <h2>My Schedules</h2>
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Course Name</th>
          <th>Level</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        @for(schedule of schedules;let i=$index;track schedule.course._id;) {
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ schedule.course.name }}</td>
          <td>{{ schedule.course.level }}</td>
          <td>{{ schedule.date | date }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</article>
