.scheduleContainer {
    width: 95%;
    padding: 20px;
    margin: 20px;
    /* border: 1px solid #ccc; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scheduleContainer p, h2 {
    margin-bottom: 10px;
}

h2 {
    padding-left: 20px;
}

.scheduleContainer table {
    width: 100%;
    border-collapse: collapse;
}

.scheduleContainer th,
.scheduleContainer td {
    padding: 0.75rem;
    border: 1px solid #ddd;
    text-align: center;
    text-transform: capitalize;
}

.scheduleContainer th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.scheduleContainer tr:nth-child(even) {
    background-color: #f9f9f9;
}

.scheduleContainer tr:hover {
    background-color: #f2f2f2;
}

.scheduleContainer th:first-child,
.scheduleContainer td:first-child {
    border-left: none;
}

.scheduleContainer th:last-child,
.scheduleContainer td:last-child {
    border-right: none;
}

.scheduleContainer th:nth-child(2),
.scheduleContainer td:nth-child(2) {
    text-align: center;
}

.scheduleContainer th:nth-child(3),
.scheduleContainer td:nth-child(3) {
    text-align: center;
}

@media screen and(min-width:440px) {
    .scheduleContainer {
        width: 100%;
    }
}