header {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(119, 119, 245);
}

button {
    padding: 10px 20px;
    float: right;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profileContainer {
    width: 30%;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.courseContainer {
    display: flex;
    width: 90%;
}

.courseheader {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

.courseheader button {
    float: none;

}

.schedulecontainer {
    width: 100%;
}

@media screen and (max-width:440px) {

    .profileContainer {
        width: 90%;
    }

    .courseContainer {
        flex-wrap: wrap;
    }

    .scheduleContainer {
        width: 90%;
    }

    .scheduleContainer table {
        width: 80%;
    }
}

@media screen and (min-width:440px) and (max-width:820px) {
    .profileContainer {
        width: 60%;
        padding-left: 30px;
    }

    .courseContainer {
        flex-wrap: wrap;
        align-items: center;
    }


}