.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin: 10px;
    height: 300px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image {
    width: 50%;
    height: 100%;
    border: 1px solid rgb(204, 203, 203);
    object-fit: cover;
}

.card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-level, .card-description {
    font-size: 1.2rem;
    font-weight: 500;
}

.card-content button {
    padding: 10px 20px;
    float: right;
    background-color: #4c82af;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 50%;
    cursor: pointer;
}