.card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin: 10px;
    height: 300px;
    padding: 20px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.card-image {
    width: 50%;
    height: 80%;
    border: 1px solid rgb(204, 203, 203);
    object-fit: fill;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-level, .card-description {
    font-size: 1.2rem;
    font-weight: 500;
}

.card-content button {
    padding: 10px 20px;
    float: right;
    background-color: #4c82af;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

@media screen and (min-width:440px) {
    .card-content button {
        width: 70%;
    }
}

@media screen and (min-width:440px) and (max-width:820px) {
    .card {
        width: 60%;
    }
}